numpy
pandas
jupyter
tensorflow==1.14.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-probability==0.6.0
tensorflow-datasets==1.0.2
tf-nightly
Keras
Keras-Applications
Keras-Preprocessing
matplotlib
seaborn
tables
bs4
sklearn
stemming
scanpy
scipy==1.2.0 # for scanpy
python-igraph 
louvain
pydot
IPython
